{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}重置密码 - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title mb-0">
                    <i class="fas fa-key"></i> 重置密码
                </h4>
            </div>
            <div class="card-body">
                <p>请输入您的注册邮箱，我们将发送密码重置链接到您的邮箱。</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-paper-plane"></i> 发送重置链接
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="row">
                    <div class="col">
                        想起密码了？<a href="{% url 'accounts:login' %}">返回登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 