{% extends 'base.html' %}

{% block title %}重置邮件已发送 - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="card-title mb-0">
                    <i class="fas fa-check-circle"></i> 重置邮件已发送
                </h4>
            </div>
            <div class="card-body">
                <p>我们已经向您的邮箱发送了密码重置链接。</p>
                <p>请检查您的邮箱，按照邮件中的说明重置密码。</p>
                <p>如果几分钟后仍未收到邮件，请检查垃圾邮件文件夹。</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> 返回登录
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 