{% extends 'base.html' %}

{% block title %}密码重置成功 - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="card-title mb-0">
                    <i class="fas fa-check-circle"></i> 密码重置成功
                </h4>
            </div>
            <div class="card-body">
                <p>您的密码已经重置成功！</p>
                <p>现在您可以使用新密码登录了。</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">
                    <i class="fas fa-sign-in-alt"></i> 立即登录
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 